---
import Container from "@components/container.astro";
---

<Container>
  <style>
    img {
      padding: 0 20px 0 0px;
    }
  </style>
  <header class="flex flex-col lg:flex-row items-center justify-center my-5">
    <div class="flex items-center justify-center ">
      <a href="/" class="text-lg">
        <img src="src/assets/appicon_svg.svg"/>
      </a>
      <h2 class="text-4xl text-white lg:text-5xl font-bold lg:tracking-tight items-center">
        Step Up
      </h2>
    </div>
  </header>
</Container>
