---
import { Picture } from "@astrojs/image/components";

import heroImage from "assets/hero.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 lg:pt-12 lg:pb-24">
  <div class="py-6 order-2 lg:order-1">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="37 : 75"
      sizes="(max-width: 370px) 100vw, 270px"
      loading="eager"
      format="avif"
    />
  </div>
  <div class="order-1 lg:order-2">
    <h1
      class="font-sans text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-white">
      Marketing website done with Astro
    </h1>
    <p class="text-customGray text-lg mt-4 font-sans ">
      Astroship is a starter template for startups, marketing websites & landing
      pages.<wbr /> Built with Astro.build and TailwindCSS. You can quickly create
      any website with this starter.
    </p>
    <div class="mt-6 flex flex-col lg:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="ic:baseline-apple" />

        App Store
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-5 h-5" name="ant-design:android-filled" />
        Google Play Store
      </Link>
    </div>
  </div>
</main>
